{% extends "base.html" %}

{% block content %}
    <h1>Newspaper Agency</h1>
    <p>The system for tracking Redactors, assigned to Newspapers</p>
    <h2>Dynamic content</h2>
    <p>The Newspaper Agency has the following record counts:</p>
    <ul>
        <li><strong>Topics:</strong> {{ num_topic }}</li>
        <li><strong>Redactors:</strong> {{ num_redactor }}</li>
        <li><strong>Newspapers:</strong> {{ num_newspaper }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
